.footer
    margin-top $margin-primary
    border $line-secondary $color-text-primary solid
    text-style(footer)
    background-color $color-background
    z-index 10

    .footer-text
        margin-top $margin-l-1
        margin-bottom $margin-primary
        


