.flex-container
    width 1440px
    margin 0 auto

html
    font-size 18px

@media (max-width: 1600px)
    html
        font-size 18px
    .flex-container
        width 1024px

@media (max-width: 1200px)
    html
        font-size 18px
    .flex-container
        width 720px

@media (max-width: 768px)
    .flex-container
        display block
        width calc(100% - 120px)
        padding-left 48px
        padding-right 72px
